:root {
    --pink: #ff60ff;
    --purple: #8530fb;
    --yellow: #ffdc0d;
    --turquoise: #37ebdf;
    --blue: #3a37ea;
    --darkblue: #05207c;

    --main-padding: 4rem;

    --envelope-width: 30vw;
    --envelope-factor: calc(var(--envelope-width) / 15);

    --font-xxs: .6rem;
    --font-xs: .7rem;
    --font-sm: .8rem;
    --font-md: 1rem;
    --font-lg: 1.1rem;
    --font-xlg: 2.6rem;
    --font-xxlg: 3.6rem;
}   

body,
html {
    margin: 0;
    padding: 0;
    background-color: var(--blue);
}

.no-scroll {
    overflow: hidden;
}

*,
::after,
::before {
    box-sizing: border-box;
}

p {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

@font-face {
    font-family: 'DINN-Light';
    font-display: auto;
    src: url(../fonts/dinn/DINNextLTPro-Light.otf) format('opentype');
}

@font-face {
    font-family: 'DINN-Medium';
    font-display: auto;
    src: url(../fonts/dinn/DINNextLTPro-Medium.otf) format('opentype');
}

@font-face {
    font-family: 'DINN-Bold';
    font-display: auto;
    src: url(../fonts/dinn/DINNextLTPro-Bold.otf) format('opentype');
}

p {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

input.xxs,
p.xxs,
textarea.xxs {
    font-size: var(--font-xxs);
}

input.xs,
p.xs,
textarea.xs {
    font-size: var(--font-xs);
}

input.sm,
p.sm,
textarea.sm {
    font-size: var(--font-sm);
}

input.md,
p.md,
textarea.md {
    font-size: var(--font-md);
}

input.lg,
p.lg,
textarea.lg {
    font-size: var(--font-lg);
}

input.xlg,
p.xlg,
textarea.xlg {
    font-size: var(--font-xlg);
}

input.xxlg,
p.xxlg,
textarea.xxlg {
    font-size: var(--font-xxlg);
}

input{
    border: none;
    outline: none;
}

p.f-primary-light {
    font-family: 'DINN-Light';
}

p.f-primary-medium {
    font-family: 'DINN-Medium';
}

p.f-primary-bold {
    font-family: 'DINN-Bold';
}

p.upper {
    text-transform: uppercase;
}

p.white{
    color: #fff;
}

p.yellow{
    color: var(--yellow);
}


.main-content{
    position: relative;
    width: 100vw;
    min-height: 100vh;
    background-color: var(--blue);
    padding: var(--main-padding);

    display: flex;
    justify-content: center;
    align-items: center;
}

.main-form{
    position: relative;
    width: 100%;
    background-color: var(--darkblue);
    box-shadow: -1px 7px 79px -6px rgba(0,0,0,0.4);
    transform: scale(0);
    transition: transform .5s cubic-bezier(1,0,0,1);

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-form.active{
    transform: scale(1);
    transition: transform .5s cubic-bezier(1,0,0,1) .2s;
}

.corner-img{
    width: 19.4vh;
    height: 7vh;
}

.corner-img-1{
    position: absolute;
    top: 0;
    right: 0;   
}

.corner-img-1 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.corner-img-2{
    position: absolute;
    bottom: 0;
    left: 0;
}

.corner-img-2 img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.confirmation-message{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;
}

.confirmation-message.active{
    opacity: 1;
    visibility: visible;
    transition: all .3s ease 3s;
}

.envelope-wrapper{
    position: absolute;
    /* top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); */
    width: var(--envelope-width);
    height: var(--envelope-width);
    z-index: 10;
    transform: scale(0);
    transition: transform .5s cubic-bezier(1,0,0,1);

    display: flex;
    justify-content: center;
    align-items: center;
}

.envelope-wrapper.active{
    transform: scale(1);
    transition: transform .5s cubic-bezier(1,0,0,1) 1s;
}

.envelope-wrapper.sent {
    -webkit-animation: launch 1.5s ease-in-out 2s forwards;
            animation: launch 1.5s ease-in-out 2s forwards;
}

@-webkit-keyframes launch {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0) scale(1);
              transform: translateY(0) scale(1);
    }
    10%, 15% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    40%, 70% {
      -webkit-transform: translateY(-600px) scale(1);
              transform: translateY(-600px) scale(1);
    }
    70% {
      opacity: 1;
    }
    71% {
      opacity: 0;
      -webkit-transform: translateY(-600px) scale(0.6);
              transform: translateY(-600px) scale(0.6);
    }
    72% {
      opacity: 0;
      -webkit-transform: translateY(0px) scale(0.6);
              transform: translateY(0px) scale(0.6);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(0px) scale(1);
              transform: translateY(0px) scale(1);
    }
  }
  
  @keyframes launch {
    0% {
      opacity: 1;
      -webkit-transform: translateY(0) scale(1);
              transform: translateY(0) scale(1);
    }
    10%, 15% {
      -webkit-transform: translateY(20px);
              transform: translateY(20px);
    }
    40%, 70% {
      -webkit-transform: translateY(-600px) scale(1);
              transform: translateY(-600px) scale(1);
    }
    70% {
      opacity: 1;
    }
    71% {
      opacity: 0;
      -webkit-transform: translateY(-600px) scale(0.6);
              transform: translateY(-600px) scale(0.6);
    }
    72% {
      opacity: 0;
      -webkit-transform: translateY(0px) scale(0.6);
              transform: translateY(0px) scale(0.6);
    }
    100% {
      opacity: 0;
      -webkit-transform: translateY(0px) scale(1);
              transform: translateY(0px) scale(1);
    }
  }

.mail{
    width: calc(var(--envelope-factor) * 6);
    height: calc(var(--envelope-factor) * 4);
    border-radius: 2%;
    background-color: #2196F3;
    overflow: hidden;
    box-shadow: -1px 7px 30px -6px rgba(0,0,0,0.4);
}

.mail-top {
    z-index: 50;
    position: relative;
    width: calc(var(--envelope-factor) * 4);
    height: calc(var(--envelope-factor) * 4);
    background: #1976D2;
    transform: rotate(45deg);
    top: calc(var(--envelope-factor) * -2);
    left: var(--envelope-factor);
    box-shadow: 5px 0px 4px rgba(25,106,188,0.4);
}

.mail-bottom {
    z-index: 20;
    position: relative;
    width: calc(var(--envelope-factor) * 4);
    height: calc(var(--envelope-factor) * 4);
    background: rgba(25,106,188, 0.15);
    transform: rotate(45deg);
    top: calc(var(--envelope-factor) * -2);
    left: var(--envelope-factor);
}






.form-col{
    width: 50%;
    padding: 4rem 3rem 4rem 3rem;
}

.form-media{
    width: 100%;
    height: 100%;

    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.form-media .logo{
    width: 90%;
    height: 13%;
    max-width: 300px;
    margin-bottom: 1rem;
}

.form-media .banner{
    width: 100%;
    height: 80%;
    max-width: 500px;
}

.form-media .logo img,
.form-media .banner img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.form-info{
    width: 100%;
    height: 100%;
    overflow-y: hidden;

    display: flex;
    align-items: center;
}

.form-info .form-info-wrapper{
    width: 100%;
    min-height: 1rem;
    text-align: justify;
}

.question-box{
    width: 100%;
    margin-bottom: .8rem;
}

.question-box .principal-question{
    width: 100%;
    margin-bottom: .6rem;
}

.question-box .extra-info{
    width: 100%;
}

.inputs-box{
    width: 100%;
}

.inputs-box .input-wrapper{
    width: 100%;
    margin-bottom: .5rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.input-wrapper p{
    width: 35%;
    text-align: left;
}

.input-wrapper input{
    width: 60%;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.38);
    color: #fff;
    padding: 5px;
    font-family: 'DINN-Light';
}

.input-wrapper input.w-error{
    border: 1px solid var(--pink);
}

.button-wrapper{
    width: 100%;
    margin-top: 1rem;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.button-wrapper a,
.btn{
    background-color: var(--yellow);
    padding: 8px;
    border-radius: 5px;
    font-family: 'DINN-Medium';
    font-size: var(--font-lg);
    text-decoration: none;
    color: var(--purple);
    cursor: pointer;
}