@media (max-width:1154px){
    :root{
        --main-padding: 2rem;

        --font-xxs: .4rem;
        --font-xs: .5rem;
        --font-sm: .6rem;
        --font-md: .8rem;
        --font-lg: 1rem;
        --font-xlg: 2.4rem;
    }

    .form-col{
        width: 100%;
        padding: 2rem 1.5rem 2rem 1.5rem;
    }
}

@media (max-width:1024px){
    .form-col{
        padding: 4rem 3rem 4rem 3rem;
    }
}

@media (max-width:360px){
    :root{
        --font-xlg: 1.6rem;
    }

    .form-col{
        width: 100%;
        padding: 2rem 1.5rem 2rem 1.5rem;
    }
}