<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <title>TADEMI</title>
    <meta name="description" content="TADEMI" />

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%- include('__assets_header_app') %>

</head>

<body>
    <div class="main-content">
        <%- include(content) %>
    </div>

    <%- include('__assets_footer_app') %>
</body>

</html>