<div class="main-form">
    <div class="corner-img corner-img-1">
        <img src="/tademi-theme/img/bg/form-2.png" alt="">
    </div>
    <div class="corner-img corner-img-2">
        <img src="/tademi-theme/img/bg/form-1.png" alt="">
    </div>

    <div class="form-col">
        <div class="form-media">
            <div class="logo">
                <img src="/tademi-theme/img/logo/LOGO-TADEMI-RGB.png" alt="">
            </div>
            <div class="banner">
                <img src="/tademi-theme/img/bg/illustration.png" alt="">
            </div>
        </div>
    </div>
    <div class="form-col">
        <div class="form-info">
            <div class="form-info-wrapper">
                <div class="question-box">
                    <div class="principal-question">
                        <p class="f-primary-bold lg yellow">¿Sabes de programación y quieres aprender Analítica Digital?
                        </p>
                        <p class="f-primary-bold lg yellow">¿Buscas una formación que te permita trabajar en una empresa?
                        </p>
                    </div>
                    <div class="extra-info">
                        <p class="f-primary-light lg white">Con nuestra metodología, aprendes en clase y practicas tus conocimientos aprendidos en una empresa.
                        </p>
                    </div>
                </div>
                <div class="question-box">
                    <div class="principal-question">
                        <p class="f-primary-bold lg yellow">¿Te interesa?</p>
                    </div>
                    <div class="extra-info">
                        <p class="f-primary-light lg white">Deja tus datos y nos conectamos contigo:</p>
                    </div>
                </div>
                <div class="inputs-box">
                    <div class="input-wrapper">
                        <p class="f-primary-medium lg white">Nombres y Apellidos*</p>
                        <input id="name" class="md" type="text">
                    </div>
                    <div class="input-wrapper">
                        <p class="f-primary-medium lg white">Email*</p>
                        <input id="email" class="md" type="email">
                    </div>
                    <div class="input-wrapper">
                        <p class="f-primary-medium lg white">Teléfono*</p>
                        <input id="phone" class="md" type="phone">
                    </div>
                    <div class="button-wrapper" onclick="sendEmail()">
                        <div class="btn">Enviar tus datos</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="envelope-wrapper">
    <div class="mail">
        <div class="mail-top"></div>
        <div class="mail-bottom"></div>
    </div>
</div>

<div class="confirmation-message">
    <p class="f-primary-bold xlg yellow">Estaremos en contacto.</p>
</div>